:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

header {
  background-color: var(--header);
  padding: 10px 0;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  border-radius: 5px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  color: var(--text);
  text-decoration: none;
  color: black;
  margin: 0 10px;
}

.nav-links a:hover {
  color: var(--link);
}

.dark-mode-button {
  background-color: var(--link);
  color: var(--header);
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}
.auth-container {
  border-radius: 5px; /* Rounded corners */
  padding: 20px; /* Adjust padding as needed */
  display: flex; /* Enable flexbox for centering (if needed) */
  justify-content: center; /* Horizontally center content (optional) */
  align-items: center; /* Vertically center content (optional) */
}
.about {
  text-align: center;
  margin: 10px;
  padding: 20px;
}
.login-page {
  text-align: center;
  color: blue;
  background-color: burlywood;
}
.new-recipe-form {
  text-align: center;
  justify-content: center;
  background-color: lightgreen;
  color: brown;
}
.new-recipe-form form {
  display: grid;
  grid-template-columns: 1fr; /* One full-width column */
  grid-gap: 10px; /* Adjust spacing as needed */
  word-wrap: soft;
}
.new-recipe-form button {
  margin: auto;
}