:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

header {
  color: yellow;
  background-color: black;
  padding: 10px 0;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  border-radius: 5px;
}

.nav-links {
  text-align: center;
  justify-content: space-around;
  align-items: center;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  color: var(--text);
  text-decoration: none;
  color: yellow;
  margin: 0 10px;
}

.nav-links a:hover {
  color: var(--link);
}

.auth-container {
  border-radius: 5px; 
  padding: 20px; 
  display: flex; 
  justify-content: center; 
  align-items: center;
}
.about {
  text-align: center;
  margin: 10px;
  padding: 20px;
}
.login-page {
  text-align: center;
  color: blue;
  background-color: burlywood;
}
.new-recipe-form {
  text-align: center;
  justify-content: center;
  background-color: lightgreen;
  color: brown;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}
.new-recipe-form form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  word-wrap: soft;
}
.new-recipe-form button {
  margin: auto;
}
.searchbar {
  text-align: center;
  background-color: black;
  color: yellow;
}
.header-title {
  text-align: center;
}
.favorite-btn, .unfavorite-btn {
  padding: 0;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.recipes {
  background-color: antiquewhite;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 20px 0;
}
.category-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 50%;
}
.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}
.favorites {
  text-align: center;
}
.update-recipe-form {
  text-align: center;
  justify-content: center;
  background-color: lightblue;
  color: orangered;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}
.update-recipe-form form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  word-wrap: soft;
}
.update-recipe-form button {
  margin: auto;
}
footer {
  color: yellow;
  background-color: black;
  padding: 10px 0;
  text-align: center
}